<div class="sidebar">
    <h1>SafeWeb</h1>
    <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Favorites</a></li>
        <li><a href="#">Inbox</a></li>
        <li><a href="#">Calendar</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Logout</a></li>
    </ul>
</div>
